@inject Data.StaticData StaticData
@using MillimanDesignSystem.Components
@using Models

<h2>@StaticData.MapIntToItemName(TypeID)</h2>
<table>
    <thead>
        <td></td>
        <td>Ingredient</td>
        <td>Quantity</td>
    </thead>
    @foreach (BlueprintLine line in blueprint)
    {
        <BlueprintLineBlock TypeID=line.materialTypeID Quantity=line.quantity ActivityId=line.activityID/>
    }
</table>

@code {
    [Parameter]
    public int TypeID { get; set; }

    private List<BlueprintLine> blueprint;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        blueprint = StaticData.Blueprints[TypeID];
    }
}
