@page "/itemlist"
@using EveIndustryTool.Models
@using System
@inject Data.StaticData StaticData

<PageTitle>Counter</PageTitle>
<Search LabelText="label" @bind-Value=@searchValue />
<Button>Button</Button>
<table>
    <thead>
        <td>Item</td>
        <td>Ingredient</td>
        <td>Quantity</td>
    </thead>
    @foreach (int id in StaticData.Blueprints.Keys)
    {
        foreach (BlueprintLine line in StaticData.Blueprints[id])
        {
            <tr>
                <td>@StaticData.MapIntToItemName(line.typeID)</td>
                <td>@StaticData.MapIntToItemName(line.materialTypeID)</td>
                <td>@line.quantity</td>
            </tr>
        }
    }
</table>

@code {
    string searchValue = "";
}
